.form-todo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  position: relative;
}

.form-todo input[type="text"] {
  flex: 1;
  margin: -2px 5px 10px 5px;
  padding: 1rem 0 10px 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;

}



.form-todo input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-2);
}

.form-todo input[type="submit"]{
  margin: 10px 0;
  width: 100px;
  flex-basis: 50px;
  border-radius: 5px;
  padding: 1rem;
}


.validation {
  color: maroon;
  margin:10px 5px;
}

.form-group-add{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.form-todo i {
  font-size: 2rem;
  color: var(--primary-1);
  transition: all 0.3s ease 0s;
}

.form-todo i:hover {
  color: var(--primary-2);
  cursor: pointer;
  transform: scaleX(1.1);
}

#todo-submit{
  position: absolute;
  top: 5px;
  right: 10px;
}
