@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --main-bg: #f2ecee;

  --primary-1: #efd2cb;
  --primary-2: #ccd7c5;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

