
.map-container{
  width: 500px;
  height: 80vh;
  margin-top: 2rem;
  position: relative;
  flex: 2 2;
  margin-left: 2rem;
}

#map{
  height: 100%;

}


#map-menu {
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

#map-menu select{
  padding: 2px;
}