.todo-list{
  list-style-type: none;
  margin-left: 1rem;
  padding: 1rem;

}

.todo-list li {
  font-size: 1.5rem;
  color: var(--primary-1);
  transition: all 0.5s ease 0s;
}

.todo-list .todo {
  display: flex;
  justify-content: space-between;
}

.todo i {
  font-size: 1.5rem;
  transition: all 0.3s ease 0s;
}

.todo i:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: brown;

}

.todo:hover li
{
 color: var(--primary-2);
 transform: scale(1.1);
}


